'menu': [
  'label': '編輯'
  'submenu': [
    'label': 'Select Encoding'
    'command': 'encoding-selector:show'
  ]
]

'context-menu':
  'atom-text-editor:not([mini])': [
    'label': '更改編碼'
    'command': 'encoding-selector:show'
  ]
