'menu': [
  'label': '編輯(&E)'
  'submenu': [
    'label': 'Select Grammar'
    'command': 'grammar-selector:show'
  ]
]

'context-menu':
  '.overlayer': [
    'label': '更改語法'
    'command': 'grammar-selector:show'
  ]
