'menu': [
  'label': '套件'
  'submenu': [
    'label': 'Markdown Preview'
    'submenu': [
      'label': 'Toggle Preview'
      'command': 'markdown-preview:toggle'
    ]
  ]
]

'context-menu':
  '.markdown-preview': [
    {label: '複製為 HTML', command: 'core:copy'}
    {label: '儲存檔案為 HTML\u2026', command: 'core:save-as'}
  ]
  '.tree-view .file .name[data-name$=\\.markdown]':
    [{label: '預覽 Markdown', command:  'markdown-preview:preview-file'}]
  '.tree-view .file .name[data-name$=\\.md]':
    [{label: '預覽 Markdown', command:  'markdown-preview:preview-file'}]
  '.tree-view .file .name[data-name$=\\.mdown]':
    [{label: '預覽 Markdown', command:  'markdown-preview:preview-file'}]
  '.tree-view .file .name[data-name$=\\.mkd]':
    [{label: '預覽 Markdown', command:  'markdown-preview:preview-file'}]
  '.tree-view .file .name[data-name$=\\.mkdown]':
    [{label: '預覽 Markdown', command:  'markdown-preview:preview-file'}]
  '.tree-view .file .name[data-name$=\\.ron]':
    [{label: '預覽 Markdown', command:  'markdown-preview:preview-file'}]
  '.tree-view .file .name[data-name$=\\.txt]':
    [{label: '預覽 Markdown', command:  'markdown-preview:preview-file'}]
