'menu': [
  {
    'label': '套件(&P)'
    'submenu': [
      'label': 'Symbols'
      'submenu': [
        { 'label': 'File Symbols', 'command': 'symbols-view:toggle-file-symbols' }
        { 'label': 'Project Symbols', 'command': 'symbols-view:toggle-project-symbols' }
      ]
    ]
  }
]

'context-menu':
  'atom-text-editor:not([mini])': [
    { 'label': '移動至宣告', 'command': 'symbols-view:go-to-declaration' }
  ]
