menu: [
  {
    label: '檔案(&F)'
    submenu: [
      {label: 'Close All Tabs', command: 'tabs:close-all-tabs'}
    ]
  }
]

'context-menu':
  '.tab': [
    {label: '關閉分頁', command: 'tabs:close-tab'}
    {label: '關閉其他分頁', command: 'tabs:close-other-tabs'}
    {label: '關閉右方所有分頁', command: 'tabs:close-tabs-to-right'}
    {label: '關閉左方所有分頁', command: 'tabs:close-tabs-to-left'}
    {label: '關閉所有已儲存分頁', command: 'tabs:close-saved-tabs'}
    {label: '關閉所有分頁', command: 'tabs:close-all-tabs'}

    {type: 'separator'}

    {label: '向上複製分頁', command: 'tabs:split-up'}
    {label: '向下複製分頁', command: 'tabs:split-down'}
    {label: '向左複製分頁', command: 'tabs:split-left'}
    {label: '向右複製分頁', command: 'tabs:split-right'}

  ]
  '.tab.texteditor': [
    {type: 'separator'}
    {label: '在新視窗中開啟', command: 'tabs:open-in-new-window'}
    {type: 'separator'}
  ]
  '.tab.pending-tab': [
    {label: '保留此預覽分頁', command: 'tabs:keep-pending-tab'}
  ]
  '.tab-bar': [
    {label: '重新開啟已關閉分頁', command: 'pane:reopen-closed-item'}
  ]
