'menu': [
  {
    'label': '檢視(&V)'
    'submenu': [
      { 'label': 'Toggle Tree View', 'command': 'tree-view:toggle' }
    ]
  }
  {
    'label': '套件(&P)'
    'submenu': [
      'label': 'Tree View'
      'submenu': [
        { 'label': 'Focus', 'command': 'tree-view:toggle-focus' }
        { 'label': 'Toggle', 'command': 'tree-view:toggle' }
        { 'label': 'Reveal Active File', 'command': 'tree-view:reveal-active-file' }
        { 'label': 'Toggle Tree Side', 'command': 'tree-view:toggle-side' }
      ]
    ]
  }
]

'context-menu':
  '.tree-view.full-menu': [
    {'label': '新增檔案', 'command': 'tree-view:add-file'}
    {'label': '新增資料夾', 'command': 'tree-view:add-folder'}
    {'type': 'separator'}

    {'label': '重新命名', 'command': 'tree-view:move'}
    {'label': '建立副本', 'command': 'tree-view:duplicate'}
    {'label': '刪除', 'command': 'tree-view:remove'}
    {'label': '複製', 'command': 'tree-view:copy'}
    {'label': '剪下', 'command': 'tree-view:cut'}
    {'label': '貼上', 'command': 'tree-view:paste'}
    {'type': 'separator'}

    {'label': '新增專案資料夾', 'command': 'application:add-project-folder'}
    {'type': 'separator'}

    {'label': '複製絕對路徑', 'command': 'tree-view:copy-full-path'}
    {'label': '複製專案相對路徑', 'command': 'tree-view:copy-project-path'}
    {'label': '在新視窗中開啟', 'command': 'tree-view:open-in-new-window'}
  ]

  '.tree-view.full-menu [is="tree-view-file"]': [
    {'label': '向上開啟檔案分頁', 'command': 'tree-view:open-selected-entry-up'}
    {'label': '向下開啟檔案分頁', 'command': 'tree-view:open-selected-entry-down'}
    {'label': '向左開啟檔案分頁', 'command': 'tree-view:open-selected-entry-left'}
    {'label': '向右開啟檔案分頁', 'command': 'tree-view:open-selected-entry-right'}
    {'type': 'separator'}
  ]

  '.tree-view.full-menu .project-root > .header': [
    {'label': '新增檔案', 'command': 'tree-view:add-file'}
    {'label': '新增資料夾', 'command': 'tree-view:add-folder'}
    {'type': 'separator'}

    {'label': '重新命名', 'command': 'tree-view:move'}
    {'label': '建立副本', 'command': 'tree-view:duplicate'}
    {'label': '刪除', 'command': 'tree-view:remove'}
    {'label': '複製', 'command': 'tree-view:copy'}
    {'label': '剪下', 'command': 'tree-view:cut'}
    {'label': '貼上', 'command': 'tree-view:paste'}
    {'type': 'separator'}

    {'label': '新增專案資料夾', 'command': 'application:add-project-folder'}
    {'label': '移除專案資料夾', 'command': 'tree-view:remove-project-folder'}
    {'type': 'separator'}

    {'label': '複製絕對路徑', 'command': 'tree-view:copy-full-path'}
    {'label': '複製專案相對路徑', 'command': 'tree-view:copy-project-path'}
    {'label': '在新視窗中開啟', 'command': 'tree-view:open-in-new-window'}
  ]

  '.platform-darwin .tree-view.full-menu': [
    {'label': '在 Finder 中顯示', 'command': 'tree-view:show-in-file-manager'}
  ]

  '.platform-win32 .tree-view.full-menu': [
    {'label': '在檔案總管中顯示', 'command': 'tree-view:show-in-file-manager'}
  ]

  '.platform-linux .tree-view.full-menu': [
    {'label': '在檔案總管中顯示', 'command': 'tree-view:show-in-file-manager'}
  ]

  '.tree-view.multi-select': [
    {'label': '刪除', 'command': 'tree-view:remove'}
    {'label': '複製', 'command': 'tree-view:copy'}
    {'label': '剪下', 'command': 'tree-view:cut'}
    {'label': '貼上', 'command': 'tree-view:paste'}
  ]

  'atom-pane[data-active-item-path] .item-views': [
    {'label': '在 Tree View 中顯示', 'command': 'tree-view:reveal-active-file'}
  ]

  'atom-pane[data-active-item-path] .tab.active': [
    {'label': '重新命名', 'command': 'tree-view:rename'}
    {'label': '在 Tree View 中顯示', 'command': 'tree-view:reveal-active-file'}
  ]

  '.platform-darwin atom-pane[data-active-item-path] .tab.active': [
    {'label': '在 Finder 中顯示', 'command': 'tree-view:show-current-file-in-file-manager'}
  ]

  '.platform-win32 atom-pane[data-active-item-path] .tab.active': [
    {'label': '在檔案總管中顯示', 'command': 'tree-view:show-current-file-in-file-manager'}
  ]

  '.platform-linux atom-pane[data-active-item-path] .tab.active': [
    {'label': '在檔案總管中顯示', 'command': 'tree-view:show-current-file-in-file-manager'}
  ]

  '.platform-darwin atom-text-editor:not([mini])': [
    {'label': '在 Finder 中顯示', 'command': 'tree-view:show-current-file-in-file-manager'}
  ]

  '.platform-win32 atom-text-editor:not([mini])': [
    {'label': '在檔案總管中顯示', 'command': 'tree-view:show-current-file-in-file-manager'}
  ]

  '.platform-linux atom-text-editor:not([mini])': [
    {'label': '在檔案總管中顯示', 'command': 'tree-view:show-current-file-in-file-manager'}
  ]
